{% extends 'base.html.twig' %}

{% block title %}- Agenda
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="my-3">Voici les événements</h1>

		<div class="row">

			{% for evenement in pagination.data %}

				<div class="col-md-4">
					<div class="card bg-light mb-3">
						<div class="card-header text-center">
							<h4 class="card-title">
								{{ evenement.titre }}
							</h4>
							<small>
								Le
								{{ evenement.dateDebut |date("d/m/Y") }}</small>

						</div>

						{% if evenement.photo %}
							<img src="{{ asset('uploads/photoSectionEvenements/' ~ evenement.photo ) }}" alt="Image de l'événement" style="height:200px;  width:100%; display:block;">

						{% else %}

							<img src="/img/logo.png" alt="Image de l'événement" style="height:200px;  width:100%; display:block;">
						{% endif %}


						<div class="card-body">

							<p class="card-text"></p>

							{{ evenement.Description }}
							<br>
							{% if is_granted('ROLE_USER') %}

								{% if user.statut == true %}

									<a href="{{ path('detailevenement', {'id' : evenement.id }) }}" class="btn btn-primary">En savoir plus</a>

								{% else %}

									<a href="{{ path('detailevenementvisiteur', {'id' : evenement.id }) }}" class="btn btn-primary">En savoir plus</a>

								{% endif %}
							{% else %}
								<a href="{{ path('detailevenementvisiteur', {'id' : evenement.id }) }}" class="btn btn-primary">En savoir plus</a>


							{% endif %}


						</div>
					</div>

				</div>


			{% endfor %}

		</div>
	</div>

	<div class="d-flex justify-content-center">

		{% set page = pagination.page %}
		{% set pages = pagination.pages %}

		<ul class="pagination">

			<li class="page-item {% if page == 1 %} disabled {% endif %}">
				<a class="page-link" href="{{ path('evenements', {'page': page - 1 } ) }}">&laquo;</a>
			</li>

			{% for i in 1..pages %}
				<li class="page-item {% if page == i %} active {% endif %}">
					<a class="page-link" href=" {{ path('evenements', {'page': i } ) }}">{{ i }}</a>
				</li>
			{% endfor %}

			<li class="page-item {% if page == pages %} disabled {% endif %}">
				<a class="page-link" href="{{ path('evenements', {'page': page + 1 } ) }}">&raquo;</a>
			</li>
		</ul>
	</div>

{% endblock %}
