{% extends 'base.html.twig' %}
	{% block title %}Connexion
	{% endblock %}
		{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="jumbotron">
					<div class="form-group" style="margin-top:-30px">
						<h3 style="margin-left:80px">
							Connectez-vous
						</h3>
					</div>
					<hr>
					<form class="form-horizontal" style="margin-left: 30px" action="{{ path('login_adherent') }}" method="post">
						<div class="form-group input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" id="username" class="form-control" required name="_username" value="{{ last_username }}" placeholder="Entrez votre pseudo"/>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="password" class="form-control" id="password" required name="_password" placeholder="Entrez votre mot de passe"/>
						</div>

						{% if error %}
							<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						<div class="form-group">
							<button class="btn btn-primary" style="width:283px">Connexion</button>
						</div>
						<div class="form-group" method="post">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<input type="checkbox" id="remember_me" name="_remember_me"/>
							<label for="remember_me">Rester connecté</label>
						</div>
						<div class="form-group">
							<a href="{{ path('entrer_mail') }}">
								Mot de passe oublié
							</a>
						</div>

						<div class="form-group">
    						<a href="{{ path('pseudo_oublier') }}"> Pseudo oublié </a>
						</div>
 
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
