@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
 

body{
   min-height: 150vh;
   position: relative;
   margin: 0;
   padding-bottom: 16rem;
}

.footer {
   background-color: orange;
   position:absolute;
   bottom: 0;
   width:100%;
}

.collapse.navbar-collapse{color: white!important;
  text-align:center!important;
  justify-content: center!important;
}
.bg-1{
   background-color: #00A2E7;
}

.titlecontact {
color: black;
}

button.navbar-toggler 
{
   color: white!important;
   border-color: white!important;
}

span.navbar-toggler-icon {
  border-color: white!important;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.collapse{
   color: white!important;
}
.navbar{
   background: #00A2E7;
   -webkit-box-shadow: 0 4px 6px -6px #222;
   -moz-box-shadow: 0 4px 6px -6px #222;
   box-shadow: 0 4px 6px -6px #222;
}
a.nav-link{
   color:white!important;
  margin: 0 70px 0 70px;
}
li.nav-item {
   height: 35px;
margin:0px;
}
.nav-link.dropdown-toggle{
   text-align: right;
   color: white!important;
}
.carousel-item .row .col{
padding-right: 0px !important;
padding-left: -0px !important;
}




.partenaires {
height:64px;
width:64px;
}

.footer-title {
color:white;
font-weight:bold;
}


