{% extends 'baseAdmin.html.twig' %}
{% block title %}Gestion Photo
{% endblock %}
{% block body %}
	{% block content %}

		<!-- We'll fill this with dummy content -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">

				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
			</div>
		</nav>
	{% endblock %}

	<div class="container">
		<div class="row justify-content-center mt-3">
			<div class=" mt-4 p-3 mb-2 bg-white rounded p-center">
				<div>
					<h3>GESTION DES PHOTOS</h3>
				</div>
				<hr>
			</div>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Information</strong>
			Vous pouvez ajouter plusieurs photos en même temps.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div
			class="row">
			<!-- Upload -->

			<div class="col justify-content-center">
				<div class="row justify-content-center">
					<h5 class="">Ajoutez vos photos</h5>
				</div>

				{{ form_start(sourcePictureForm) }}

				{{ form_row(sourcePictureForm.titre,{'attr':{'placeholder':"Titre de la photo"}})}}
				{{ form_row(sourcePictureForm.image,{'attr':{'placeholder':"image"}})}}
				{{ form_row(sourcePictureForm.categorie,{'attr':{'placeholder':""}})}}
				{{ form_row(sourcePictureForm.date,{'attr':{'placeholder':""}})}}

				<div class=" row justify-content-center">
					<button type="submit" class='btn btn-success'>Envoyer</button>
				</div>
				{{ form_end(sourcePictureForm) }}
			</div>
			<div class="border"></div>
			<!-- Filtre -->
			<div class="col">
				<div class="row justify-content-center">
					<h5 class="">Filtre</h5>
				</div>

				<div class="col">
					{{ form_start(searchFilter)}}
					{{ form_end(searchFilter)}}
				</div>

				<div class="col">
					{{ form_start(searchBar) }}
					{{ form_end(searchBar) }}
				</div>


				<div class="col">
					{{ form_start(reset)}}
					{{ form_label(reset,"Par defaut")}}
					{{ form_end(reset)}}
				</div>
			</div>
		</div>
		<!-- Photos -->
		<div class="row justify-content-center mt-3">
			<div class=" mt-3 p-3 mb-2 bg-white rounded p-center">
				<div>
					<h3>PHOTOS DISPONIBLES</h3>
				</div>
				<hr>
			</div>
		</div>

		{% for sourcePictures in sourcePicture %}
			<div class="row mt-2 mb-1 d-inline-flex offset-1 ">
				<div class="col mt-3">
					<div class="col">
						<h6>
							Titre :
							{{ sourcePictures.titre }}</h6>
						<h6>
							Date :
							{{ sourcePictures.date | date("d/m/Y") }}</h6>
					</div>
					<a class="btn btn-premary" href="{{asset('uploads/source_photo/' ~ sourcePictures.image)}}">
						<img width="200em" height=" 200em" src="{{asset('uploads/source_photo/' ~ sourcePictures.image)}}" alt="{{ sourcePictures.titre }}"></a>
					<div class="justify-content-center"></div>
					<div class="col mt-1">
						<a href="{{ path('delete_picture',{'id' : sourcePictures.id })}}">
							<img src="https://img.icons8.com/office/30/000000/delete-sign.png"></a>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>
{% endblock %}
