{% extends 'base.html.twig' %}

{% block title %}Contactez-nous
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="container">

			<div class="row">

				<div class="col-6">

					<h3>
						Formulaire de contact
					</h3>

					{{form_start(form)}}
					{{form_widget(form)}}
					{{form_end(form)}}

				</div>

				<div class="col-6 justify-text-center">

					<h3 class="mt-1">
						Nos coordonnées
					</h3>

					{% for contact in contacts %}

						<h4 class="titlecontact">{{ contact.nom }}</h4><br>

						<p>Pour tout renseignement, vous pouvez nous contacter via la page Facebook, ou par téléphone. Notre formulaire de contact reste à votre disposition, nous vous répondrons dans les plus brefs délais.</p>

						<i class="fas fa-map-marker-alt"></i>

						{{ contact.adresse }}
						-
						{{ contact.cp }}
						-
						{{ contact.ville }}<br>
						<i class="fas fa-phone-alt"></i>
						{{ contact.telephone1 }}<br>
						<br>


						<h4 class="titlecontact">Lieux d'entraînement</h4><br>

						<div class="row">

							<div class="col-6">


								<img src="/img/entressens.png" width=" 300" height=" 300">

							</div>

							<div class="col-6">


								<img class="pl-4" src="/img/miramas.png" width="300" height="300">

							</div>


						</div>
					{% endfor %}


				</div>

			</div>
		</div>
	</div>

{% endblock %}
