{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvel Evenement
{% endblock %}

{% block body %}
{% block content %}

                    <!-- We'll fill this with dummy content -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
                            <div class="container">
            
                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                    <span>Menu</span> 
                                </button>
                            </div>
                    </nav>
                    {% endblock %}

	<h1>Créer un nouvel événement</h1>

	{{ include('evenement/_form.html.twig') }}
    <br>
	<a href="{{ path('evenement_index') }}" class="btn btn-primary"> Retour à la liste</a>

{% endblock %}
