{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Adherent{% endblock %}

{% block body %}
    <h1></h1>
    {% block content %}

    <!-- We'll fill this with dummy content -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
        <div class="container">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Menu</span> 
            </button>
        <h3 class="ml-5"> Modification dossier adhérent {{ adherent.nom }} {{ adherent.prenom }}</h3>
        </div>
    </nav>
    {% endblock %}
   
<div class="row">
    <div class="col-sm-4">
    {{form_start(form)}}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.dateNaissance)}}
        {{ form_row(form.adresse)}}
        {{ form_row(form.cp)}}
        {{ form_row(form.ville)}}

    </div>
     <div class="col-sm-4">
       {{ form_row(form.telephone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.nomUrgence)}}
        {{ form_row(form.numeroUrgence)}}
    </div>
     <div class="col-sm-4" >

        {{ form_row(form.dateInscription)}}
        {{ form_row(form.numLicence) }}
        {{ form_row(form.niveau) }}
        {{ form_row(form.statut) }} 

        {{ form_row(form.cotisationAsso) }}
        {{ form_row(form.cotisationLicence) }}
       
       
    </div>
   
   
</div>
    <div class="row justify-content-center">
    <div class="col-sm-4">
     {{ form_row(form.submit)}}
     {{form_end(form)}}

     </div>
     <div class="col-sm-3">
    <a href="{{ path('adherent_index') }} " class="btn btn-primary ">Retour</a>
     </div>
     <div class="col-sm-3">
      {{ include('Adminadherent/_delete_form.html.twig') }}
     </div>
  
   
    </div>
</div>

{% endblock %}
