{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste Adherents
{% endblock %}

{% block body %}
	{% block content %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">
				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>

			</div>

		</nav>
		<div class="row  justify-content-center">
			<h1 class="ml-5">Liste des adhérents</h1>
		</div>
	{% endblock %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				{{ form_start(form) }}
				{{ form_row(form.nom) }}
				{{ form_end(form) }}
				{# <a href="{{ path('adherent_new') }}" class="btn btn-primary">Créer un Adhérent</a> #}
			</div>
		</div>
	</div>
	<table class="table table-hover mt-5">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Date Naissance</th>
				<th>Date Inscription</th>
				<th>Email</th>
				<th>Telephone</th>
				<th>Nom Urgence</th>
				<th>N° Urgence</th>

				<th>Statut</th>
				<th>Cotisation Asso</th>
				<th>Cotisation Licence</th>
				<th>N° Licence</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>

			{% for adherent in pagination.data %}

				<tr>
					<td>{{ adherent.id }}</td>
					<td>{{ adherent.nom }}</td>
					<td>{{ adherent.prenom }}</td>
					<td>{{ adherent.dateNaissance ? adherent.dateNaissance | date('d/m/Y') }}</td>
					<td>{{ adherent.dateInscription ? adherent.dateInscription | date('d/m/Y') }}</td>
					<td>{{ adherent.email }}</td>
					<td>{{ adherent.telephone }}</td>
					<td>{{ adherent.nomUrgence }}</td>
					<td>{{ adherent.numeroUrgence }}</td>
					<td>{{ adherent.statut ? 'Inscrit' : 'Pré-inscrit'}}</td>
					<td>{{ adherent.cotisationAsso ? 'Payée' : 'Non payé' }}</td>
					<td>{{ adherent.cotisationLicence ? 'Payée' : 'Non payé' }}</td>
					<td>{{ adherent.numLicence }}</td>
					<td>
						<a href="{{ path('adherent_show', {'id': adherent.id}) }}" class="btn btn-primary mt-2">
							<i class="far fa-folder-open"></i>
						</a>

						<a href="{{ path('adherent_edit', {'id': adherent.id}) }}" class="btn btn-primary mt-2">
							<i class="far fa-edit"></i>
						</a>

					</td>
				</tr>

			{% else %}

				<tr>
					<td colspan="19">Aucune données</td>
				</tr>

			{% endfor %}

		</tbody>

	</table>

	<div class="d-flex justify-content-center">

		{% set page = pagination.page %}
		{% set pages = pagination.pages %}

		<ul class="pagination">

			<li class="page-item {% if page == 1 %} disabled {% endif %}">
				<a class="page-link" href="{{ path('adherent_index', {'page': page - 1 } ) }}">&laquo;</a>
			</li>

			{% for i in 1..pages %}

				<li class="page-item {% if page == i %} active {% endif %}">
					<a class="page-link" href=" {{ path('adherent_index', {'page': i } ) }}">{{ i }}</a>

				</li>

			{% endfor %}

			<li class="page-item {% if page == pages %} disabled {% endif %}">
				<a class="page-link" href="{{ path('adherent_index', {'page': page + 1 } ) }}">&raquo;</a>

			</li>
		</ul>
	</div>


{% endblock %}
