{% extends 'base.html.twig' %}

{% block title %}
	S'inscrire
{% endblock %}
{% block content %}

	<!-- We'll fill this with dummy content -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
		<div class="container">

			<button type="button" id="sidebarCollapse" class="btn btn-info">
				<i class="fas fa-align-left"></i>
				<span>Menu</span>
			</button>
		</div>
	</nav>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="card mb-4">
					<div class="card-body">

						<h3 class="card-title text-center">
							Créer votre compte
						</h3>

						{{ form_start(form) }}

						{{ form_row(form.nom) }}
						{{ form_row(form.prenom) }}
						{{ form_row(form.dateNaissance) }}
						{{ form_row(form.adresse) }}
						{{ form_row(form.cp) }}
						{{ form_row(form.ville) }}
						{{ form_row(form.telephone) }}
						{{ form_row(form.username) }}
						{{ form_row(form.email) }}
						{{ form_row(form.password.first,  { 'attr': {'placeholder': 'Au moins 8 caracteres'}}) }}
						{{ form_row(form.password.second) }}
						{{ form_row(form.submit) }}

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
